/* Tags */

nav {
  padding: 0px 20px;
}

/* IDs */





/* Classes */

.middle-box {
  padding: 75px 0px;
  display: block;
  margin: auto;
}

.img-frame-1 {
  padding: 3px;
  border: none;
  width: 175px;
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  background: white;
}

.text-center {
  text-align: center;
}
