/* Tags */

body {
	width: 100%;
	margin: auto;
	min-height: 100vh;
	overflow-x: hidden;
	background: #f2f2f2;
}

hr {
	border-color: grey;
}

b, strong {
  font-weight: bold;
}

svg.fa-heart {
	color: red;
	cursor: pointer;
}
svg.fa-comment {
	color: #039be5;
}
svg.fa-star {
	color: #ffee58;
}

nav {
  padding: 0px 20px;
}

/* IDs */





/* Classes */

/* .middle-box {
  padding: 75px 0px;
  display: block;
  margin: auto;
} */

.img-frame-1 {
  padding: 3px;
  border: none;
  width: 175px;
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  background: white;
}

.cursor-class {
	cursor: pointer;
}

.middle-box {
  width: 825px;
  max-width: 100%;
  display: block;
  margin: auto;
  padding-top: 50px;
}

.middle-box-2 {
  width: 1275px;
  max-width: 100%;
  display: block;
  margin: auto;
  padding-top: 50px;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}

.background-box-1 {
	padding: 15vh 15px;
	border: 1px solid lightgrey;
	box-shadow: 0px 1px 3px grey;
	position: relative;
	min-height: 35vh;
}
.background-box-2 {
	padding: 45px 0px;
	border: 1px solid lightgrey;
	box-shadow: 0px 1px 3px grey;
	position: relative;
}
.background-box-3 {
	padding: 90px 0px;
	border: 1px solid lightgrey;
	box-shadow: 0px 1px 3px grey;
	position: relative;
}

.pos-rel {
	position: relative;
}

.dim {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.60);
}

.space-1 {
    margin: 15px 0px;
    padding: 10px;
    background: #fbfbfb;
    border: 1px solid lightgrey;
}

.text-grey {
    color: grey;
}

.caption-1 {
    font-size: 11px;
}

.info-text {
    color: #039be5;
}

.action-item:hover {
    opacity: 0.7;
}
.action-item {
    cursor: pointer;
}

.card-action a {
	text-transform: none;
	color: #039be5;
}

.ovf-h {
	overflow: hidden;
}

.ca-link-null {
	text-transform: none;
	color: #039be5;
}

.center-1 {
	display: flex;
  align-items: center;
  justify-content: center;
}
