<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- <link rel="stylesheet" type="text/css" href="/static/_cdn/css/font-awesome.css" /> -->

<link rel="stylesheet" type="text/css" href="/static/_cdn/css/emerald.css" />


<link rel="stylesheet" type="text/css" href="/static/_cdn/materialize/css/materialize.css" />
<link rel="stylesheet" type="text/css" href="/static/_cdn/materialize/icon.css">

<link rel="stylesheet" type="text/css" href="/static/css/styles.css">

<!-- <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"> -->


<script src="/static/_cdn/js/jquery.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->

<script src="/static/_cdn/js/knockout.js"></script>
<script src="/static/_cdn/js/emerald.js"></script>
<script src="/static/_cdn/materialize/js/materialize.js"></script>
<script src="/static/_cdn/js/parallax/parallax.min.js"></script>

<script src="/static/js/requests/get.js"></script>
<script src="/static/js/requests/post.js"></script>
<script src="/static/js/requests/put.js"></script>
<script src="/static/js/requests/delete.js"></script>

<script src="/static/js/moment.js"></script>
<script src="/static/js/grand.js"></script>

<!-- Components -->
<script src="/static/js/components/event-widget.js"></script>
<script src="/static/js/components/event-likes-widget.js"></script>
<script src="/static/js/components/comments-list-widget.js"></script>
<script src="/static/js/components/comment-widget.js"></script>
<script src="/static/js/components/comment-likes-widget.js"></script>
<script src="/static/js/components/account-widget.js"></script>
<script src="/static/js/components/follow-widget.js"></script>



<script>
  $(document).ready(function(){
    $('.modal').modal();
    $(".button-collapse").sideNav();
    $('select').material_select();
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: false // Close upon selecting a date,
    });
    $('.timepicker').pickatime({
      default: 'now', // Set default time: 'now', '1:30AM', '16:30'
      fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
      twelvehour: true, // Use AM/PM or 24-hour format
      donetext: 'OK', // text for done-button
      cleartext: 'Clear', // text for clear-button
      canceltext: 'Cancel', // Text for cancel-button
      autoclose: false, // automatic close timepicker
      ampmclickable: true, // make AM PM clickable
      aftershow: function(){} //Function for after opening timepicker
    });
  });
</script>
