<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- <link rel="stylesheet" type="text/css" href="/static/_cdn/css/font-awesome.css" /> -->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="/static/_cdn/css/emerald.css" />


<link rel="stylesheet" type="text/css" href="/static/_cdn/materialize/css/materialize.css" />
<link rel="stylesheet" type="text/css" href="/static/_cdn/materialize/icon.css">

<link rel="stylesheet" type="text/css" href="/static/css/styles.css">

<!-- <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"> -->


<script src="/static/_cdn/js/jquery.js"></script>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->

<script src="/static/_cdn/js/knockout.js"></script>
<script src="/static/_cdn/js/emerald.js"></script>
<script src="/static/_cdn/materialize/js/materialize.js"></script>
<script src="/static/_cdn/js/parallax/parallax.min.js"></script>

<script src="/static/js/requests/get.js"></script>
<script src="/static/js/requests/post.js"></script>
<script src="/static/js/requests/put.js"></script>
<script src="/static/js/requests/delete.js"></script>

<script src="/static/js/moment.js"></script>
<script src="/static/js/grand.js"></script>

<script>
  $(document).ready(function(){
    $('.modal').modal();
    $(".button-collapse").sideNav();
    $('select').material_select();
  });
</script>
