<nav class="nav-extended green lighten-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Live Time</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a title="Sign Up" href="/signup">Sign Up</a></li>
      <li><a title="Sign In" href="/signin">Sign In</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a title="Sign Up" href="/signup">Sign Up</a></li>
      <li><a title="Sign In" href="/signin">Sign In</a></li>
    </ul>
  </div>
</nav>
