<!DOCTYPE html>
<html>
  <head>
    {% include '_dependencies.html' %}

    <title>Live Time | Events!</title>
  </head>
  <body>

    {% if session == True %}
      {% include 'navbar-2.html' %}
    {% else %}
      {% include 'navbar-1.html' %}
    {% endif %}

    <div class="container middle-box-2">
      <p class="text-center pos-rel">
        <a class="cursor-class" title="toggle background view" data-bind="click: toggle_background_view">show/hide background</a>
      </p>
      <div class="row fill background-box-1" data-bind="style: { 'background-image': 'url(' + you().background + ')' }">
        <div class="dim"></div>
        <div class="col s12 pos-rel" data-bind="visible: background_view() === false">
          <h5 class="text-center text-white" data-bind="text: you().displayname"></h5>
          <img class="middlr img-frame-1" data-bind="attr: { src: you().icon }"/>
          <p class="text-center text-white" data-bind="text: you().username"></p>
          <p class="text-center text-white" data-bind="text: you().type"></p>
          <p class="text-center text-white" data-bind="text: you().bio"></p>
          <p class="text-center text-white">Following: <span data-bind="text: you().following"></span></p>
          <p class="text-center text-white">Followers: <span data-bind="text: you().followers"></span></p>
          <p class="text-center">
            <a class="" data-bind="text: you().link, attr: {href: you().link || '#'}"></a>
          </p>
        </div>
      </div>
    </div>

    <div class="container middle-box">
      <div class="row">
        <div class="col s12">

          <div class="middlr" data-bind="foreach: eventsList">
            <event-widget params="root: $root, parent: $parent, event: $data, show_user_chip: true, signed_in: $parent.signed_in(), you_id: $parent.you().id"></event-widget>
          </div>

        </div>
      </div>
    </div>

    {% include 'footer.html' %}

    {% include '_event-stream.html' %}

    <script src="/static/js/view-models/profile-events-ctrl.js"></script>

  </body>
</html>
