<!DOCTYPE html>
<html>

<head>
  {% include '_dependencies.html' %}

  <title>Live Time | Profile!</title>
</head>

<body>

  {% if session == True %} {% include 'navbar-2.html' %} {% else %} {% include 'navbar-1.html' %} {% endif %}

  <div class="container middle-box">
    <div class="row">
      <div class="col s12">

        <div class="card">
          <div class="card-content">
            <p class="text-center" data-bind="if: requestsList().length === 0">
              <span>None...</span>
            </p>
            <ul class="messages-list" data-bind="foreach: requestsList">
              <li class="message-item">
                <div class="message-box">
                  <a data-bind="attr: { title: $data.sender_rel.username, href: '/accounts/' + $data.sender_rel.username }">
                    <img class="chip-img other-message-text" data-bind="attr: { alt: $data.sender_rel.username, src: $data.sender_rel.icon }">
                  </a>
                  <div class="message-text-box other-message-text">
                    <a title="link text" data-bind="attr: { href: $data.link || '#' }">
                      <span class="message-span" data-bind="text: $data.message + ': ' + $data.event_rel.title"></span>
                    </a>
                    <br/>
                    <span class="message-span text-grey caption-1" data-bind="text: date_formatter_short($data.date_created)"></span>
                    <br/><br/>
                    <span class="text-color-green cursor-class" data-bind="click: $parent.accept_request"><b>Accept</b></span> | <span class="text-color-red cursor-class" data-bind="click: $parent.decline_request"><b>Decline</b></span>
                  </div>
                </div>
              </li>
            </ul>

            <p class="text-center" data-bind="if: end() === false">
              <br/>
              <button class="blue btn waves-effect waves-light" type="button" name="action" data-bind="click: get_account_requests">
                Load Older Requests
              </button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% include 'footer.html' %}

  <script src="/static/js/view-models/requests-ctrl.js"></script>

</body>

</html>
