<!DOCTYPE html>
<html>
  <head>
    {% include '_dependencies.html' %}

    <title>Live Time | Sign In!</title>
  </head>
  <body>

    {% if session == True %}
      {% include 'navbar-2.html' %}
    {% else %}
      {% include 'navbar-1.html' %}
    {% endif %}

    <div class="container middle-box">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Account Email" id="sign_in_account_email" type="text" data-bind="textInput: email_input">
          <label for="sign_in_account_email">Account Email</label>
        </div>

        <div class="input-field col s12">
          <input placeholder="Password" id="sign_in_password" type="password" data-bind="textInput: password_input">
          <label for="sign_in_password">Password</label>
        </div>

        <div class="input-field col s12">
          <button class="blue btn waves-effect waves-light" type="button" name="action" data-bind="click: sign_in">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}

    <script src="/static/js/view-models/signin-ctrl.js"></script>

  </body>
</html>
