<!DOCTYPE html>
<html>
  <head>
    {% include '_dependencies.html' %}

    <title>Live Time | Sign Up!</title>
  </head>
  <body>

    {% if session == True %}
      {% include 'navbar-2.html' %}
    {% else %}
      {% include 'navbar-1.html' %}
    {% endif %}

    <div class="container middle-box">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Email" id="sign_up_account_username" type="text" data-bind="textInput: account_username_input">
          <label for="sign_up_account_username">Username</label>
        </div>

        <div class="input-field col s12">
          <input placeholder="Account Email" id="sign_up_account_email" type="text" data-bind="textInput: account_email_input">
          <label for="sign_up_account_email">Account Email</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="Booking Email" id="sign_up_booking_email" type="text" data-bind="textInput: booking_email_input">
          <label for="sign_up_booking_email">Booking Email</label>
        </div>

        <div class="input-field col s12">
          <input placeholder="Password" id="sign_up_password" type="password" data-bind="textInput: password_input">
          <label for="sign_up_password">Password</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="Verify Password" id="sign_in_password" type="password" data-bind="textInput: verify_password_input">
          <label for="sign_up_verify_password">Verify Password</label>
        </div>

        <div class="col s12">
          <label>Account Type</label>
          <select class="" data-bind="foreach: account_type_options, attr: { value: account_type_input }, event: { change: update_signup_account_type }">
            <option data-bind="text: $data || 'Choose...', attr: { value: $data }"></option>
          </select>

          <p><a class="modal-trigger" href="#modal1"><i class="material-icons">info</i></a></p>
        </div>

        <div class="input-field col s12">
          <button class="blue btn waves-effect waves-light" type="button" name="action" data-bind="click: sign_up">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>

     <!-- Modal Structure -->
     <div id="modal1" class="modal">
       <div class="modal-content">
        <h4>Account Types</h4>
        <hr/>
        <p>
          <strong><b>Artist</b></strong><br/>
          If you are looking to get booked and find places to perform, choose ARTIST.
        </p>
        <p>
          <strong><b>Venue</b></strong><br/>
          If you are looking for artists to perform at your venue, choose VENUE.
        </p>
        <p>
          <strong><b>USER</b></strong><br/>
          If you are looking for venues to attend and want to keep up to date with events, choose USER.
        </p>

        <p>
          You can change your account type at any time.
          However, doing so may affect how this app works for you.
          For example, changing from ARTIST/VENUE to USER means people cannot search for your account.
          See the <a title="Info Page" href="/info">info page</a> for more details.
        </p>
       </div>
     </div>

    {% include 'footer.html' %}

    <script src="/static/js/view-models/signup-ctrl.js"></script>

  </body>
</html>
